<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<menu>
    <a class="btn" href="/task">Create new Node</a>
    <button type="button">By finish Date</button>
    <button type="button">By create Date</button>
    <button type="button">By importance</button>
    {{#if dark_mode}}
        <a class="btn" href="/?darkmode=0">Style Switcher (lightmode)</a>
    {{else}}
        <a class="btn" href="/?darkmode=1">Style Switcher (darkmode)</a>
    {{/if}}

    <button type="button">Fertige verbergen</button>
</menu>
<div id="list">
    <!-- for each call other template  task_list  -->
    {{#each tasks}}
    <div class="task-entry">
        <div>
            <p>Task ID:{{_id}}</p>
            <p>Task Title: {{title}}</p>
            <p>Due to:{{date}}</p>
            <p>Prio:{{prio}}</p>

            <!--Falls zuviel Zeit könnte man so ein Times iwas basteln  (hbs removed):
            /*<p>Priority: times prio<span class="priosymbol">*</span>/times</p>-->
            <!--Handlebars.registerHelper('times', function(n, block) {-->
            <!--var accum = '';-->
            <!--for(var i = 0; i < n; ++i)-->
            <!--accum += block.fn(i);-->
            <!--return accum;-->
            <!--});-->
            <!--*/-->
        </div>
        <div>
            <p><label><input type="checkbox" name="done" {{#if done}}checked{{/if}} disabled> Finished</label></p>

            <textarea readonly>
                {{desc}}
            </textarea>
        </div>

        <form method="get" action="/task/{{_id}}">
            <button type='submit'class="btn">View / Edit</button>
        </form>
        <form action='/task/{{_id}}' method='post'>
            <input type='hidden' name='_method'  value='delete'>
            <button type='submit'class="btn">Delete</button>
        </form>
        <hr>
    </div>
    {{/each}}
</div>