<h1>{{title}}</h1>

<menu>
    <div class="toolbar">
        <a class="btn" href="/task">Create new Node</a>
        <!--//sort-->

        <a href="./?orderBy=dueDate{{#notreverseandequal config.reverse config.orderBy 'dueDate'}}&reverse=true{{/notreverseandequal}}"
           class="btn {{#equal config.orderBy 'dueDate'}}active{{/equal}}">By due date</a>
        <a href="./?orderBy=createdAt{{#notreverseandequal config.reverse config.orderBy 'createdAt'}}&reverse=true{{/notreverseandequal}}"
           class="btn {{#equal config.orderBy 'createdAt'}}active{{/equal}}">By creation date</a>
        <a href="./?orderBy=prio{{#notreverseandequal config.reverse config.orderBy 'prio'}}&reverse=true{{/notreverseandequal}}"
           class="btn {{#equal config.orderBy 'prio'}}active{{/equal}}">By priority</a>

        <!--Filter-->
        {{#equal config.filter 'none'}}
            <a href="./?filter=done" class="btn">
        {{else}}
            <a href="./?filter=none" class="btn active">
        {{/equal}}
            Hide completed</a>

        {{#if config.darkmode}}
            <a class="btn active" href="/?darkmode=false">
        {{else}}
            <a class="btn" href="/?darkmode=true">
        {{/if}}
            Darkmode</a>
    </div>

</menu>
<div id="list">
    <!-- for each call other template  task_list  -->
    {{#each tasks}}
    <div class="task-entry">
        <div>
            <p>Task Title: {{title}}</p>
            <p>Due to:{{dueDate}}, {{#timedistance dueDate}}{{/timedistance}}</p>
            <p>Prio: <span>{{#times prio}}&#10030;{{/times}}</span></p>
        </div>
        <div>
            <p><label><input type="checkbox" name="done" {{#if done}}checked{{/if}} disabled> Finished</label></p>

            <textarea readonly>{{desc}}</textarea>
        </div>

        <form method="get" action="/task/{{_id}}">
            <button type='submit'class="btn">View / Edit</button>
        </form>
        <form action='/task/{{_id}}' method='post'>
            <input type='hidden' name='_method'  value='delete'>
            <button type='submit'class="btn">Delete</button>
        </form>
        <hr>
    </div>
    {{else}}
        <div class="task-entry empty">You are up to date! There are no tasks for you.</div>
    {{/each}}
</div>