<h1>{{title}}</h1>

<menu>
    <div class="toolbar">
        <a class="btn" href="/task">Create new Node</a>
        <!--//sort-->

        <a href="./?order=date{{#notreverseandequal config.reverse config.order 'date'}}&reverse=1{{/notreverseandequal}}"      class="btn">By due date</a>
        <a href="./?order=createdAt{{#notreverseandequal config.reverse config.order 'createdAt'}}&reverse=1{{/notreverseandequal}}" class="btn">By creation date</a>
        <a href="./?order=prio{{#notreverseandequal config.reverse config.order 'prio'}}&reverse=1{{/notreverseandequal}}"      class="btn">By priority</a>

        <!--Filter-->
        {{#equal config.filter 'none'}}
            <a href="./?filter=done" class="btn">Hide completed</a>
        {{else}}
            <a href="./?filter=none" class="btn">Show all</a>
        {{/equal}}

        {{#if config.darkmode}}
            <a class="btn" href="/?darkmode=false">Style Switcher (lightmode)</a>
        {{else}}
            <a class="btn" href="/?darkmode=true">Style Switcher (darkmode)</a>
        {{/if}}
    </div>

</menu>
<div id="list">
    <!-- for each call other template  task_list  -->
    {{#each tasks}}
    <div class="task-entry">
        <div>
            <p>Task ID:{{_id}}</p>
            <p>Task Title: {{title}}</p>
            <p>Due to:{{date}}</p>
            <p>Prio: <span>{{#times prio}}&#10030;{{/times}}</span></p>
        </div>
        <div>
            <p><label><input type="checkbox" name="done" {{#if done}}checked{{/if}} disabled> Finished</label></p>

            <textarea readonly>{{desc}}</textarea>
        </div>

        <form method="get" action="/task/{{_id}}">
            <button type='submit'class="btn">View / Edit</button>
        </form>
        <form action='/task/{{_id}}' method='post'>
            <input type='hidden' name='_method'  value='delete'>
            <button type='submit'class="btn">Delete</button>
        </form>
        <hr>
    </div>
    {{/each}}
</div>