{{#if id}}
    <h1>Edit your task</h1>
    <form method="post" action="/task/{{id}}">
{{else}}
    <h1>Add a new task</h1>
    <form method="post" action="/task/">
{{/if}}


<div class="input-group">
    <label for="tasktitle">Title:</label>
    <input type="text" name="tasktitle" id="tasktitle" value="{{tasktitle}}" required>
</div>

<div class="input-group">
    <label for="desc">Description:</label>
    <textarea rows="3" name="desc" id="desc">{{desc}}</textarea>
</div>

<div class="input-group">
    <label for="prio">Priority:</label>
    <input type="range" min="1" max="5" name="prio" id="prio" value="{{prio}}">
</div>

<div class="input-group">
    <label for="dueDate">Due to:</label>
    <input type="date" name="dueDate" id="dueDate" value="{{dueDate}}" placeholder="DD.MM.YYYY" pattern="[0-9]{2}\.[0-9]{2}\.[0-9]{4}">
</div>

<div class="input-group left-space">
    <input type="checkbox" name="done" id="done" value="true" {{#if done}}checked{{/if}}> <label for="done">Done !</label>
</div>
<div class="input-group left-space">
    <button type="submit" class="btn small-on-mobile">Send</button>
    <button type="reset" class="btn small-on-mobile">Reset</button>
</div>